body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
  }

header {
background-image: linear-gradient(to right, royalblue , midnightblue);
 color: white;
 text-align: center;
 padding: 4px;
}

body div {
display: flex;
}

.flex {
    display: flex;
}

.flexColumn {
display: flex;
flex-direction: column;
margin: 15px;
}

.spaceBetween {
    justify-content: space-between;
}

.liveWeather {
border-style: solid;
border-color: grey;
}

.button {
    margin: 5px 0px;
}

.searchHistory {
    border-top: 3px;
    border-style: solid;
    border-color: grey;
}

.Forecast {
    background-color: lightslategray;
    color: white;
    border-style: solid;
    border: 5px;
    padding:5px 25px;
}

.todayInfo {
    align-items: baseline;
    margin:0px;
    padding: 0px;
}